<header>
	<div class="w">
		<div class="logo">
			<img src="/images/common/index_logo.png"> 
		</div>
		<div class="search" style="width:800px;vertical-align:top">
			<input class="" placeholder="  请输入关键字" style="border-radius:4px;border:1px solid #e8594b;height:30px;width:600px;margin-left:50px;margin-top:30px;">
			<a style="background-color:#e8594b;color:white;position:relative;left:-55px;display:inline-block;line-height:32px;width:50px;text-align:center;border-radius: 0 4px 4px 0px;">搜索</a>
		</div>
		<a class="btn" style="margin-top:30px;float:right;">发布项目</a>
	</div> 
	<div class="w">
		<ul class="nav-head-items" style="">
			<li style="width:250px;background-color:#e8594b;padding:0px;"><a style="color:white">行业分类</a></li>
			<li><a href="/">首页</a></li>
			<li><a href="/vrhall">VR/AR大厅</a></li>
			<li><a href="/mhall">影视制作大厅</a></li>
			<li><a href="/teamhall">团队大厅</a></li> 
			<li><a href="/servicehall">服务大厅</a></li>
			<li><a href="/toolhall">工具大厅</a></li>
			<li style="float:right;text-align:right;" ><a  href="/login">登入</a>  |  <a  href="/regist">注册</a></li>
		</ul>
	</div>
	<div style="clear:both;"></div>
</header>