<header>
	<div class="w">
		<div class="logo">
			<img src="/images/common/index_logo.png"> 
		</div>
		<div class="search" style="width:800px;vertical-align:top">
			<input class="" placeholder="  请输入关键字" style="border-radius:4px;border:1px solid #e8594b;height:30px;width:600px;margin-left:50px;margin-top:30px;">
			<a style="background-color:#e8594b;color:white;position:relative;left:-55px;display:inline-block;line-height:32px;width:50px;text-align:center;border-radius: 0 4px 4px 0px;">搜索</a>
		</div>
		<a class="btn" href="/makeProject" style="margin-top:30px;float:right;">发布项目</a>
	</div> 
	<div class="w">
		<ul class="nav-head-items" style="">
			<li id="categorysMenua" style="width:250px;background-color:#e8594b;padding:0px;"><a style="color:white">行业分类 <i class=" icon-chevron-down"></i></a>
				<div class="w" style="position:relative">
					<ul class="categorys" style=" position:absolute"> 
						<%if(results['categorylist']){%>
							<%for(var i in results['categorylist']['data']){%> 
								<%if(results['categorylist']['data'][i]['id']==results['categorylist']['data'][i]['parentid']){%>
									<li><%= results['categorylist']['data'][i]['name']%>
										<ul class="drop-meanu"   > 
											<%for(var j in results['categorylist']['data']){%>
												<%if(results['categorylist']['data'][i]['id']==results['categorylist']['data'][j]['parentid'] && results['categorylist']['data'][j]['parentid']!= results['categorylist']['data'][j]['id']  ){%>
												<li>
												<span><a style="color:#e8594b" href="/projectlist/1?cid=<%=results['categorylist']['data'][j]['id']%>"><%= results['categorylist']['data'][j]['name']%></a></span>
												<div class="categorys-sons">
													<ul >
													<%for(var k in results['categorylist']['data']){%>
														<%if(results['categorylist']['data'][j]['id']==results['categorylist']['data'][k]['parentid']){%>
															 <a  href="/projectlist/1?cid=<%=results['categorylist']['data'][k]['id']%>"><%= results['categorylist']['data'][k]['name']%></a> 
														<%}%> 
													<%}%> 
													</ul>
												</div>
												</li>
												<%}%>  
											<%}%>  
										</ul>
									</li>
								<%}%> 
							<%}%> 
						<%}%>
					</ul> 
				</div>
			</li>
			<li><a id="index" href="/">首页</a></li>
			<li><a id="vrhall" href="/vrhall">VR/AR大厅</a></li>
			<li><a id="mhall"  href="/mhall">影视制作大厅</a></li>
			<li><a id="userlist" href="/userlist/1">团队大厅</a></li> 
			<li><a id="servicehall" href="/servicehall">服务大厅</a></li>
			<li><a id="toolhall" href="/toolhall">工具大厅</a></li> 
			<% if(session ){%> 
			<li  class="afterLogin" style="text-align:right">
				<div style="display:inline-block;position:relative;margin-right:10px;">
					<a  href="/basicInfo"><img src="<%= session.imageSmall%>" style=""></a>
					<%if( session['authenticationType'] & 1){%>
						<div class="vip1" style="position:absolute;width:24px;height:24px;"></div> 
					<%}else if(  session['authenticationType'] & 2){%>
						<div class="vip2" style="position:absolute;width:24px;height:24px;"></div>  
					<%}else {%> 
					<%}%>
				</div>  
				<span style="vertical-align:top;margin-top:8px;display:inline-block"><%= session.nickname%></span>
				<ul >
					<li><a href="/makeProject"><i class="icon-edit"></i>发布项目</a></li>
					<li><a href="/publishedProjects/1"><i class=" icon-file-alt"></i>我发布的项目</a></li>
					<li><a href="/participateProjects/1"><i class=" icon-file-alt"></i>我参加的项目</a></li>
					<li><a href="/authentication"><i class=" icon-credit-card"></i>在线认证</a></li>
					<li><a href="/basicInfo"><i class=" icon-cogs"></i>基本资料</a></li>
					<li><a href="/makeWork"><i class="icon-picture"></i>发布作品</a></li>
					<li><a href="/myWork"><i class=" icon-book"></i>作品中心</a></li>
					<li><a  href="/logout"><i class="icon-off" ></i>退出</a></li> 
				</ul>
			</li> 
			<%}else{%>
			<li style="float:right;text-align:right;" ><a  href="/login">登入</a>  |  <a  href="/regist">注册</a></li> 
			<%}%> 
		</ul>
	</div> 
	<div style="clear:both;"></div>
</header>