<div class="header">
	<img src="/images/common/logo.png">
	<ul style="margin-top:20px;"> 
		<li><a href="/">首页</a></li>
		<li><a href="/vrhall">VR/AR大厅</a></li>
		<li><a href="/mhall">影视制作大厅</a></li>
		<li><a href="/userlist/1">团队大厅</a></li> 
		<li><a href="/servicehall">服务大厅</a></li>
		<li><a href="/toolhall">工具大厅</a></li>
		<% if(session ){%> 
		<li class="afterLogin" style="text-align:right;">
			<div style="display:inline-block;position:relative;margin-right:10px;">
				<a  href="/basicInfo"><img src="<%= session.imageSmall%>" style=""></a>
				<%if( session['authenticationType'] & 1){%>
					<div class="vip1" style="position:absolute;width:24px;height:24px;"></div> 
				<%}else if(  session['authenticationType'] & 2){%>
					<div class="vip2" style="position:absolute;width:24px;height:24px;"></div>  
				<%}else {%> 
				<%}%>
			</div>  
			<span style="vertical-align:top;margin-top:8px;display:inline-block;color:white"><%= session.nickname%></span>
			<ul >
				<li><a href="/makeProject"><i class="icon-edit"></i>发布项目</a></li>
				<li><a href="/publishedProjects"><i class=" icon-file-alt"></i>我发布的项目</a></li>
				<li><a href="/participateProjects"><i class=" icon-file-alt"></i>我参加的项目</a></li>
				<li><a href="/authentication"><i class=" icon-credit-card"></i>在线认证</a></li>
				<li><a href="/basicInfo"><i class=" icon-cogs"></i>基本资料</a></li>
				<li><a href="/makeWork"><i class="icon-picture"></i>发布作品</a></li>
				<li><a href="/myWork"><i class=" icon-book"></i>作品中心</a></li>
				<li><a  href="/logout"><i class="icon-off" ></i>退出</a></li> 
			</ul>
		</li> 
		<%}else{%>
		<li style="float:right;text-align:right;" ><a  href="/login">登入</a>  |  <a  href="/regist">注册</a></li> 
		<%}%> 
	</ul>
</div>