 body *{
	font-family: '微软雅黑',YaHei,tahoma,arial,"Hiragino Sans GB"; 
	
} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td 
{ margin:0; padding:0; }  
ul{
	list-style:none; 
	display:block;
}
a{
	cursor:pointer;
	text-decoration:none !important;
} 
input:active{
	outline:none !important; 
} 
.header1{ 
	background-color: white;
	margin:0px;
	position:fixed;
	z-index: 999;
	width: 100%;
	height:79px; 
	border-bottom: 1px solid #ec6941;
}
.header1>ul>li{
	display: inline-block; 
	padding:0 20px;
}
.header1>ul>li>a{
	color:#666;
	font-size: 16px
}
.header1>ul>li>a:hover{
	color:#e8594b; 
} 
.header1 .afterLogin:hover ul{
	display: block !important;
}
 
@media(max-width: 1150px){
	.header1>ul>li{ 
		padding:0 4px;
	}
	.header1>ul>li>a{ 
		font-size: 14px
	}
} 
.header { 
	position:fixed;
	width:100%;
	z-index:999;
	top:0px;
	min-height:60px; 
	border:0px;
	border-radius:0px !important; 
	background-color:rgba(0,0,0,0.8);
} 
.header a{
	color:white !important;
}
 
.header a{
	font-size:14px;
	color:white;
}
.header .logo{
	padding:14px 30px 10px 40px; 
}
.header .logo a{
	vertical-align:middle;
	font-size:22px;
	
}
.header .headIcon{
	width: 36px;
	height:36px;
    border-radius: 25px;
	
}
.header .logo>img{
	padding-right:10px;
} 
.header .navbar-nav>li{ 
	padding:0px 0px 0px 0px;
}
.header .navbar-nav>li>a{
	line-height:30px;
	border-bottom:2px solid transparent;
	padding-bottom:15px;
	padding:15px 10px;
	
}
.header .middleNav>li>a:hover{
	border-bottom:2px solid #e8594b;
} 
.navbar-default .navbar-nav>.open>a:focus,.nav .open>a:focus{
	background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
	color:#666666;
}
.header .dropdown-menu {
	background-color:rgba(0,0,0,0.8); 
}
.dropdown-menu >li{
		padding:4px 0 4px 0px;
	
}
.dropdown-menu >li>a{
		color:#999999 !important; 
		font-size:14px;
}
.dropdown-menu >li>a:hover{
	background-color:transparent;
	color:#e8594b !important;  
}
.dropdown-menu >li>a:hover i{ 
	color:#e8594b !important;  
} 
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color:transparent; 
	border-color:transparent; 
}  
.afterLogin,.beforeLogin{
	padding-right:20px !important; 
}
.afterLogin i{
	width:30px;
	display:inline-block;
	color:#999999;
}
@keyframes myfirst
{
from {background: transparent;}
to {  background-color:rgba(0,0,0,0.8);}
}

@-moz-keyframes myfirst /* Firefox */
{
from {background: transparent;}
to {  background-color:rgba(0,0,0,0.8);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {background: transparent;}
to {  background-color:rgba(0,0,0,0.8);}
}

@-o-keyframes myfirst /* Opera */
{
from {background: transparent;}
to {  background-color:rgba(0,0,0,0.8);}
} 
.headerAnimate   { 
	animation: myfirst 2s;
	-moz-animation: myfirst 2s;	/* Firefox */
	-webkit-animation: myfirst 2s;	/* Safari 和 Chrome */
	-o-animation: myfirst 2s;	/* Opera */
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.headerAnimate2{
	border-bottom:1px solid #e0e0e0;
	color:white;
	
}  

.footer{
	height:120px;
	width:100%; 
	text-align:center; 
	border-top:1px solid #e0e0e0;
	
} 
.footer ul{
	margin-top:20px;
}
.footer ul>li{
	display:inline-block;
	text-align:center;
	padding:0 20px 0 20px;
	vertical-align:middle;
} 
.footer ul>li>a{
	color:#333333; 
	line-height:30px; 
	font-size:12px;
	cursor:text;
} 
.footer span{
	font-size:12px;
	color:#9b9b9b;
}
@media(max-width:768px){
		
	.footer ul>li{
		display:block;
		text-align:center;
		padding:0 20px 0 20px;
		vertical-align:middle;
	} 
	.footer ul>li:nth-child(4){
		display:none; 
	}
} 

.noHerf a{
	cursor:text; 
}
.noHerf:hover{
	cursor:text; 
	border-bottom:0px  !important;
}
.return_top{
	 width:56px;
	 height:56px;
	 background:red;
	 position:fixed;
	 top:90%;
	 right:5%;
	 z-index:999;
	}
.return_top a{
	 width:56px;
	 height:56px;
	 display:block;
	 background:url(../images/tradinghall/top1.png) no-repeat center center;
	 }
	.return_top a:hover{
		 background:url(../images/tradinghall/top2.png) no-repeat center center;
		} 	