<!DOCTYPE html>
<html >
<head>  
<% include commonHead.html %>
<title>基本资料</title> 
<style>   
.btn{
	background-color:#e8594b;
	color:white;
	display:block;
	margin-top:10px;
	margin-left:100px;
	color:white;
}
.top{
	padding-top:12px;
	padding-bottom:20px;
	border-bottom:2px solid #e0e0e0;
	margin-bottom:20px;
}
.top>span{
	font-size:18px;
	font-weight:800;
	color:#666;
} 
</style>  
</head>
<body class="hold-transition skin-blue-light sidebar-mini">  
<div class="wrapper">   
<% include header.html %>
<% include nav.html %>
<div class="content-wrapper"  > 
    <div class="container-fluid"> 
		<div class="row"  >
			<div class="col-xs-12 col-lg-offset-1 col-lg-9">  
				<div class="top">
					<span>基本资料</span> 
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-7 ">
						<div style="max-width:500px;">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">昵称： </span>
								<input class="form-control" name="nickName" type="text" value="<%= session['nickname']%>"   maxlength="20">
							</div>  
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">联系方式： </span>
								<input class="form-control" name="phone" type="text" value="<%= session['phone']%>" maxlength="20">
							</div>   
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">所在地址： </span>
								<input class="form-control" name="location" type="text" value="<%= session['location']%>">
							</div> 
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">简介： </span>
								<textarea class="form-control" id="description" type="text" style="resize:none;height:150px;"> <%= session['description']%> </textarea>
							</div> 
						</div>
					</div>  
				</div> 
				<button class="btn  " onclick="save()" style="width:150px;">保存</button>  
				 
			</div> 
		</div>  
	</div> 
</div>    
<% include commonScript.html %>
<script   type="text/javascript">   
//保存修改
function save(){
	var params={ 
		"nickname":$('input[name=nickName]').val(),  
		'phone':$("input[name='phone']").val(),
		'location':$("input[name='location']").val(),
		'description':$("#description").val()
	}
	console.log(params);
	$.ajax({
		type: "put",
		async: false,
		url: "/user", 
		contentType:"application/json", 
		data:JSON.stringify(params), 
		dataType:'json',
		success: function(data){ 
			alert('修改成功');
			$('#nickName').html(params['nickname']); 
			sessionStorage.nickName=params['nickname'];
		},
		error: function(){
			alert('fail');
		}
	});  
} 
 
</script> 
</body> 
</html>