<header style="z-index:999;width:100%;">
	<div class="w">
		<div class="logo">
			<a href="/"><img src="/images/common/index_logo.png"></a>

		</div>
		<div class="search" style="width:800px;vertical-align:top">
			<input class="" placeholder="  请输入关键字" style="border-radius:4px;border:1px solid #e8594b;height:32px;width:600px;margin-left:50px;margin-top:30px;">
			<a style="background-color:#e8594b;color:white;position:relative;left:-89px;display:inline-block;line-height:32px;width:84px;text-align:center;;border-radius: 0 4px 4px 0px;">搜索</a>
		</div>
		<a href="/makeProject" class="btn" style="margin-top:30px;float:right;background-color:#e8594b;color:white;width:100px;height:30px;padding:4px 0">发布项目</a>
	</div> 
	<div  style="background-color:#e8594b">
		<ul class="nav-head-items" style="width:1200px;margin:0 auto">
			<li id="categorysMenua" style="width:250px;padding:0px;background-color:#e82b1a"><a style="color:white">用户中心  </a> 
			</li>
			<li><a   href="/makeProject">项目管理</a></li>
			<li><a   href="/authentication">在线认证</a></li>
			<li><a   href="/authenManual">人工认证</a></li>
			<li><a   href="/basicInfo">资料完善</a></li> 
			<li><a   href="/makeWork">我的作品</a></li>  
		</ul>
	</div> 
	<div style="clear:both;"></div>
</header>