<nav class="header1  navbar navbar-default"> 
	<img   src="../../images/common/logoHead.png" style="margin:20px 20px 0 20px;height:40px;">  
	<ul class="  " style="display:inline-block;vertical-align: bottom;padding:10px 0px;">
        <li ><a href="/">首页<span class="sr-only">(current)</span></a></li>
		<li><a href="/vrhall">VR/AR大厅</a></li>
		<li><a href="/mhall">影视制作大厅</a></li>
        <li><a href="/userlist/1">团队大厅</a></li>
		<li ><a   href="/servicehall">服务大厅</a></li>
		<li  ><a href="/toolhall" >工具大厅</a></li> 
     </ul>   
     <ul class="nav navbar-nav navbar-right">  
        <li class="dropdown afterLogin"  style="margin-top:18px;">
        	<div style="display:inline-block;position:relative;margin-right:10px;">
        		<a href="/basicInfo" style="display:inline-block;padding:0px;">
					<img class="headIcon"  src="<%= session.imageSmall%>"  style="width:36px;height:36px;border-radius:100%;">
					<%if( session['authenticationType'] & 1){%>
						<div class="vip1" style="position:absolute;width:24px;height:24px;"></div> 
					<%}else if(  session['authenticationType'] & 2){%>
						<div class="vip2" style="position:absolute;width:24px;height:24px;"></div>  
					<%}else {%> 
					<%}%>
					
				</a>
        	</div>

			<a style="display:inline-block;" id="nickName" href="/basicInfo"  class="dropdown-toggle"><%=  session.nickname%> </a> 
			<ul class="dropdown-menu"  style="display:none">
				<li><a href="/makeProject"><i class="icon-edit"></i>发布项目</a></li>
				<li><a href="/participateProjects/1"><i class=" icon-file-alt"></i>我发布的项目</a></li>
				<li><a href="/participateProjects/1"><i class=" icon-file-alt"></i>我参加的项目</a></li>
				<li><a href="/authentication"><i class=" icon-credit-card"></i>认证管理</a></li>
				<li><a href="/basicInfo"><i class=" icon-cogs"></i>基本资料</a></li>
				<li><a href="/makeWork"><i class="icon-picture"></i>发布作品</a></li>
				<li><a href="/myWork"><i class=" icon-book"></i>作品中心</a></li>
				<li><a  href="/logout"><i class="icon-off" ></i>退出</a></li> 
			</ul>  
        </li>
      </ul>  
</nav>