<aside class="main-sidebar"  >  
	<ul class="sidebar-menu"> 
		<li class="treeview  "  id="projectManager">
			<a href="#"><i class="glyphicon icon-briefcase"></i> <span>项目管理</span> <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li id="projectManager_1"><a href="/makeProject">发布项目</a></li>
				<li id="projectManager_2"><a href="/publishedProjects/1">我发布的项目</a></li>
				<li id="projectManager_3"><a   href="/participateProjects/1">我参加的项目</a></li>
			</ul>
		</li>
		<li class="treeview  " id="onlineAuthen">
			<a href="#"><i class=" icon-credit-card"></i> <span>在线认证</span> <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li  id="onlineAuthen_1"><a href="/authentication">身份认证</a></li> 
				<li  id="onlineAuthen_2"><a href="/authenTrade">交易认证</a></li> 
			</ul>
		</li> 
		<li class="treeview" id="manualAuthen">
			<a href="#"><i class="icon-user"></i> <span>人工认证</span> <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu"> 
				<li id="manualAuthen_1" ><a href="/authenManual">人工认证</a></li>  
			</ul>
		</li> 
		<li class="treeview" id="userInformation"> 
			<a href="#"><i class="glyphicon icon-paste"></i> <span>资料完善</span> <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li id="userInformation_1"><a href="/skillTags">技能标签</a></li>
				<li id="userInformation_2"><a   href="/countSafe">账户安全</a></li>
				<li  id="userInformation_3" ><a   href="/basicInfo">基本资料</a></li>
				<li id="userInformation_4"><a   href="/headIcon">头像设置</a></li>
				<li id="userInformation_5"><a   href="/domain">行业分类</a></li>
			</ul>
		</li>
		<li class="treeview  "  id="myWorkList"> 
			<a href="#"><i class="icon-picture"></i> <span>我的作品</span> <i class="fa fa-angle-left pull-right"></i></a>
			<ul class="treeview-menu">
				<li  id="myWorkList_1" ><a href="/makeWork">发布作品</a></li> 
				<li  id="myWorkList_2"><a href="/myWork">作品中心</a></li> 
			</ul>
		</li>
	</ul>   
</aside> 