		<!DOCTYPE html>
<html >
<head> 
<% include commonHead.html %> 
<title>我发布的项目</title>  
<style> 
 
.versionTop{
	position:relative;
	background-color:white;
	padding:10px 10px 10px 10px;
	border-radius:4px;  
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.versionTop i{
	position:absolute;
	right:20px;
	top:16px;
	color:#ccc;
}
.fliter{
	display:inline-block;
}
.fliter +input{
	display:inline-block;
	height:26px;
}
.fliter>li{
	display:inline-block;
	margin-top:6px;
	margin-right:0px;
}
.fliter>li>a{
	color:#666;
}
.fliter .active{
	color:#ec6941; 
}  
.list{
	position:relative; 
	margin-bottom:40px;
}   
.time{
	color:#999;
	font-size:12px;
}
.status{
	color:#ec6941;
	font-size:12px;
}
.operation a{
	color:#ec6941;
	display:inline-block;
	padding:0px 4px 0px 4px;
	border:1px solid #ec6941;
	border-radius:10px;
}  
table td{
	text-align: center;
}
.operationBtn{
	display:inline-block;
	border-radius:10px;
	border:1px solid #ec6941;
	padding:0 6px;
} 
</style>  
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
<div class="wrapper"> 
<% include header.html %>
<% include nav.html %>
<div class="content-wrapper"  > 
    <div class="container-fluid">
		<div class="row"  >
			<div  class="col-xs-12  col-lg-offset-1 col-lg-10">   
				<div class="list">   
					<div class="panel panel-default">  
						<div class="panel-heading">
							<ul class="fliter">
								<li><a id="fliter_"  data-value="">全部</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
								<li><a id="fliter_1" data-value="1" >竞标中</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
								<li><a id="fliter_2" data-value="2">进行中</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
								<li><a id="fliter_3" data-value="3">已结束</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
								<li><a id="fliter_4" data-value="4">审核中</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
								<li><a id="fliter_5" data-value="5">中止</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
								<li><a id="fliter_6" data-value="6">未通过</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
							</ul>
							<!--
							<div class="input-group"   style="width:200px;    float: right;position: relative;top: -12px;"> 
						      	<input type="text" class="form-control" placeholder="Search for...">
						      	<span class="input-group-btn">
						       	 	<button id="searchprojectInput" class="btn btn-primary" type="button"  >搜索</button>
						      	</span>
						    </div> 
						    -->
						</div>
						<div class="panel-body" >   
							<table class="table table-hover ">
								<thead>
									<tr>
										<td>项目名</td>
										<td>状态</td>
										<td>发布时间</td>
										<td>竞标数</td>
										<td>操作区</td> 
									</tr>
								</thead>
								<tbody  data-hasnext="<%= results['has_next']%>"  data-hasprev="<%= results['has_prev']%>" data-nextnum="<%= results['next_num']%>" data-page="<%= results['page']%>" data-pages="<%= results['pages']%>" data-perpage="<%= results['per_page']%>"  data-prevnum="<%= results['prev_num']%>">  
									<%  for (var i in results['data']){%> 
										<tr id="<%= results['data'][i]['id']%>">
											<td><a href="/projectDetail?projectid=<%= results['data'][i]['id']%>" style="color:#333"><%= results['data'][i]['name']%></a> </td> 
											<% if(results['data'][i]['status']==1){%>
												<td class="status"> 竞标中</td>
											<%}else if(results['data'][i]['status']==2){%>
												<td class="status"> 进行中</td>
											<%}else if(results['data'][i]['status']==3){%>
												<td class="status"> 已结束</td>
											<%} else if(results['data'][i]['status']==4){%>
												<td class="status"> 审核中</td>
											<%}else if(results['data'][i]['status']==5){%>
												<td class="status"> 中止</td>
											<%}else if(results['data'][i]['status']==6){%>
												<td class="status"> 未通过</td>
											<%} %>
											<td><span class="time"><%= results['data'][i]['publishDate']%></span></td> 
											<td><span style="color:#999;"><%= results['data'][i]['bidCount']%></span></td> 
											<%   if(results['data'][i]['status']==1){%>
												<td class="operation"><a  href="/bidding?projectid=<%= results['data'][i]['id']%>">竞标管理</a><a onclick="toEndStatus(this)">关闭</a></td>
											<%}else if(results['data'][i]['status']==2){%>
												<td class="operation"><a href="/versions?projectid=<%= results['data'][i]['id']%>">version</a> <a href="/suggections?projectid=<%= results['data'][i]['id']%>">意见</a><a onclick="toEndStatus(this)">关闭</a></td>
											<%}else if(results['data'][i]['status']==3){%>
												<td class="operation"><a href="/versions?projectid=<%= results['data'][i]['id']%>">version</a> <a href="/suggections?projectid=<%= results['data'][i]['id']%>">意见</a></td>
											<%} else if(results['data'][i]['status']==4){%>
												<td class="operation"><a onclick="toEndStatus(this)">关闭</a></td>
											<%}else if(results['data'][i]['status']==5){%>
												<td class="operation"></td>
											<%}else if(results['data'][i]['status']==6){%>
												<td class="operation">未通过</td>
											<%} %> 
										</tr> 
									<%}%> 
								</tbody>
							</table>  
							<div id="turnPage"></div>
						</div>  
					</div> 
				</div>  
			</div>
		</div>
	</div> 
</div>    
<% include commonScript.html %>  
<script type="text/javascript" src="/js/underscore.min.js"></script>   
<script   type="text/javascript">   
$(function(){ 
	$('#fliter_'+(getUrlParameter('status') ? getUrlParameter('status') : "")).addClass('active');
	var turnPageData={
		has_next: $('tbody').attr('data-hasnext'),
		has_prev: $('tbody').attr('data-hasprev'),
		next_num: $('.box-list').attr('data-nextnum'),
		page: $('tbody').attr('data-page'),
		pages: $('tbody').attr('data-pages'),
		per_page: $('tbody').attr('data-perpage'),
		prev_num: $('tbody').attr('data-prevnum'), 
	}
	$('#turnPage').myUtils('turnPage',turnPageData,changePage) 
}); 
$('.fliter a').click(function(){
	var status=$(this).attr("data-value");
	var url=location.search.toString();
	if(status){ 
		url=replaceParamVal(url,'status',status)  
		url='/publishedProjects/1'+url; 
	}else{  
		url='/publishedProjects/1'+removeParameter(url,'status');
	} 
	location = url  
}) 
//翻页
function changePage(){ 
	var url=location.search.toString();
	url='/publishedProjects/'+$(this).attr('data-pageid')+url; 
	location =url  
}      
//状态结束按钮
function toEndStatus(e){
	var $_e=$(e);
	var params={
		'id':parseInt($(e).parent().parent().attr('id')), 
		'status':5
	} 
	console.log(params);
	var r=confirm("确定结束此任务包？");   
	if(r==true){ 
		$.ajax({
			type: "put",
			async: false,
			url:"/project", 
			contentType:"application/json", 
			data:JSON.stringify(params), 
			dataType:'json',
			success: function(data){  
				$_e.css('display','none');
				$_e.parent().parent().find('.status').html('中止');
				$_e.parent().parent().find('.status').css('color','#999');
			},
			error: function(){
				alert('fail');
			}
		}); 
       
	}else{
         return false;   
	}  
}    
</script> 
</body>

</html>